
Deprecated==1.2.14
distro==1.8.0
executing==2.0.1
fastapi==0.104.1
fastjsonschema==2.19.0
filelock==3.13.1
flatbuffers==23.5.26
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.1

ipython==8.17.2

pydantic==2.5.2
pydantic-settings==2.1.0

SQLAlchemy==2.0.23

uvicorn==0.24.0.post1
